.filled svg {
	fill: var(--primary);
}

.star svg {
	margin-right: 5px;
}

.editable {
	cursor: pointer;
}
.error {
	position: relative;
	border-bottom: 1px solid var(--red);
}

.errorMessage {
	position: absolute;
	bottom: -20px;
	left: 5px;
	color: var(--red);
}